<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Getting Started: Handling Form Submission</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>My friends</h1>
	<ul>
		<li th:each= "friend : ${friendList}" th:text="|${friend}|"></li>	
	</ul>
	<h1>Add new friend to list</h1>
	<form action="#" th:action="@{/index}" method="GET">
		<p>Name: <input type="text" name="name"/></p>
		<p><input type="submit" value="Submit" /></p>
	</form>
	
</body>
</html>