<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" 
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>Bookstore</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
</head>
<body>
	<h1 th:inline="text">Welcome to the Bookstore [[${#httpServletRequest.remoteUser}]]!</h1>

	<table class="table table-striped">
	<tr>
	<th>Title</th>
	<th>Author</th>
	<th>Year</th>
	<th>ISBN</th>
	<th>Price</th>
	<th>Category</th>
	<th> 
		<form th:action="@{/logout}" method="post">
			<input type="submit" value="Log Out" class="btn btn-danger"/>
		</form>
	</th>
	</tr>
	<tr th:each = "book : ${bookList}">
	<td th:text="${book.title}"></td>
	<td th:text="${book.author}"></td>
	<td th:text="${book.year}"></td>
	<td th:text="${book.isbn}"></td>
	<td th:text="${book.price}"></td>
	<td th:text="${book.category.name}"></td>
	<td sec:authorize="hasAuthority('ADMIN')"><a th:href = "@{/delete/{id}(id=${book.id})}" class="btn btn-danger">Delete</a></td>
	<td><a href="/edit" class="btn btn-primary" th:href = "@{/edit/{id}(id=${book.id})}">Edit</a></td>
	</tr>
	</table>
	
	<a href="/add" class="btn btn-success" th:href="@{/add}">Add Book</a>
</body>
</html>